div{
    margin-bottom: 3em;
}
body{ 
    text-align:center
} 

a{text-decoration:none}
a:link {color:rgb(71,158,224)} /* 未访问的链接 */
a:visited {color:rgb(71,158,224)}	/* 已访问的链接 */
a:hover {cursor: pointer;}	/* 鼠标移动到链接上 */

.container{
    font-size: 2em;
    margin:100px auto;
}

#pieChart, #doughnutChart, #barChart, #rowBarChart, #multiBarChart, #multiRowBarChart, #lineChart, #lineChart2, #polygonChart{
    display: none;
}

#pieChart, #doughnutChart {
    min-height:800px;
    min-width: 600px;
}

#barChart, #rowBarChart, #multiBarChart, #multiRowBarChart{
    min-height:850px; 
    min-width: 600px;
}

#lineChart, #lineChart2 {
    min-height:800px;
    min-width:600px;
}

#polygonChart{
    min-height:800px;
    min-width: 600px;
}
